@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body,
html {
  height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 22px;
  gap: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 70%;
}

nav li {
  width: 14%;
  font-weight: 550;
}

nav li:nth-child(1) {
  width: 8%;
}

nav li:hover {
  font-weight: 550;
}

nav ul a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s ease;
}

nav ul a:hover {
  color: #ddd;
}

nav .btn {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

nav .btn:hover {
  background-color: #2540db;
  color: #fff;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url("images/Sport.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h2 {
  color: transparent;
  -webkit-text-stroke: 3px #0000003e;
  font-size: 196px;
}

.header h1 {
  font-size: 80px;
  color: #000;
}

.header p {
  max-width: 400px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #52525280;
}

.specs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 45%;
  right: 20px;
}

.specs h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: lowercase;
  color: #52525280;
}

.specs span {
  font-size: 34px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 5px;
  color: #000;
}

.specs img {
  height: 40px;
  width: 40px;
}

.color-select {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
}

.color-select div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.color-select div:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.color-select #red {
  background: #f00;
}

.color-select #blue {
  background: #00f;
}

.color-select #black {
  background: #000;
}
